<!-- LEFT: Card -->
<div th:fragment="familyMemberDetail" class="mb-5 row">
<div class="col-md-4">
    <div class="card shadow-sm">

        <img th:if="${familyMember.image != null}"
             th:src="@{/images/{id}(id=${familyMember.image.id})}"
             class="card-img-top w-100"
             th:alt="${familyMember.fullName}"
             style="height: 250px; object-fit: cover;">

        <div class="card-body">
            <h1 th:text="${familyMember.fullName}"></h1>
        </div>
    </div>
</div>

<!-- RIGHT: Table -->
<div class="col-md-8">
    <h2>Huidige taken</h2>
    <table>
        <tr th:each="chore : ${familyMemberChores}">
            <td><a th:href="@{/chores/detail/{choreName}(choreName=${chore.choreName})}"
                   th:text="${chore.choreName}"></a></td>
        </tr>
    </table>
</div>
    <p><a th:href="@{/familymembers}">Terug naar het overzicht</a></p>
</div>

<div th:fragment="newFamilyMemberForm(newFamilyMember)">
    <form th:action="@{/familymembers/save}" th:object="${newFamilyMember}" method="post"
          enctype="multipart/form-data">
        <input type="hidden" th:field="*{memberId}">
        <div>
        <label for="firstName">Voornaam</label>
        <input type="text" id="firstName" th:field="*{firstName}">
        <span th:if="${#fields.hasErrors('firstName')}"
              th:errors="*{firstName}" class="error">Fout</span>
        </div>
        <div>
        <label for="lastName">Achternaam</label>
        <input type="text" id="lastName" th:field="*{lastName}">
        <span th:if="${#fields.hasErrors('lastName')}"
              th:errors="*{lastName}" class="error">Fout</span>
        </div>
        <div>
        <label for="image">Profielfoto</label>
        <input type="file" id="image" name="imageFile" accept="image/*">
        </div>
        <button type="submit" th:text="${newFamilyMember.memberId} != null ? 'Opslaan' : 'Toevoegen'"></button>
    </form>
</div>