<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="baseheader(title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title th:replace="${title}">This is the base title</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-lg custom-navbar">
    <div class="container">
        <a class="navbar-brand me-2" href="http://localhost:8080/">
            <img
                    src="https://img.freepik.com/free-vector/water-bucket-mop-cartoon-vector-icon-illustration-healthy-
                    object-icon-isolated-flat-vector_138676-15204.jpg?semt=ais_incoming&w=740&q=80"
                    height="100"
                    alt="Chore Manager Logo"
                    loading="lazy"
                    style="margin-top: -1px;"
            />
        </a>
        <!-- Toggle button -->
        <button
                data-mdb-collapse-init
                class="navbar-toggler"
                type="button"
                data-mdb-target="#navbarButtonsExample"
                aria-controls="navbarButtonsExample"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarButtonsExample">
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a th:classappend="${activePage == 'about-us'} ? 'active' : ''"
                       class="nav-link" href="/about-us"><i class="bi bi-info-square-fill"></i> Over Ons</a>
                </li>
                <li>
                    <a href="/chores"
                       class="nav-link" th:classappend="${activePage == 'chores'} ? 'active' : ''">
                        <i class="bi bi-list-task"></i> Huishoud Taken
                    </a>
                </li>
                <li>
                    <a href="/familymembers"
                       class="nav-link" th:classappend="${activePage == 'family-members'} ? 'active' : ''">
                        <i class="bi bi-person-heart"></i> Familie Leden
                    </a>
                </li>
            </ul>
            <!-- Left links -->
    </div>
    <a sec:authorize="hasRole('ADMIN')" th:href="@{/users}"><i class="bi bi-person-add"></i> Gebruikersbeheer</a>
    <form th:action="@{/logout}" method ="post" sec:authorize="isAuthenticated()" style="display: inline;">
        <button type="submit"><i class="bi bi-box-arrow-left"></i> Uitloggen</button>
    </form>
    <a th:href="@{/login}" sec:authorize="isAnonymous()"><i class="bi bi-box-arrow-in-right"></i> Inloggen</a>
    </div>
</nav>
<!-- Footer -->
<footer class="text-center text-lg-start bg-body-tertiary text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
            <span>Vind ons op social media:</span>
        </div>
        <!-- Left -->

        <!-- Right -->
        <div>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-google"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-github"></i>
            </a>
        </div>
        <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i>Huishoud Manager
                    </h6>
                    <p>
                        Ons doel is om het huishouden inzichtelijker te maken en samenwerken makkelijker te maken.
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Producten
                    </h6>
                    <p>
                        <a href="/chores" class="text-reset">Huishoud Manager App</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Handige Links
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Aanmelden</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Blog</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Prijzen</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Support</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                    <p><i class="fas fa-home me-3"></i> Babbelaar 18 9746RM Groningen</p>
                    <p>
                        <i class="fas fa-envelope me-3"></i>
                        info@huishoudmanager.nl
                    </p>
                    <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
                    <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2026 Copyright:
        <a class="text-reset fw-bold" href="https://www.itacademy.nl/opleidingen/make-it-work-software-engineering">
            Make IT Work</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
<div th:fragment="scripts">
    <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</div>
</body>
</html>