a {
    color: #dc74aa;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    border: 1px teal;
    background-color: #ffb0d9;
}

.table-striped {
    --bs-table-striped-bg: #FCEAEA;   /* soft pink */
    --bs-table-striped-color: #5a3a3a;
    --bs-table-hover-bg: #FADADA;   /* slightly darker pink */
}

.table-striped thead th {
    background-color: #7e154b;
    color: #fff;
}

.error {
    color: red;
    font-size: 0.85em;
    display: block;
}

.active {
    font-weight: bold;
}

.custom-navbar {
    background-color: #ffb0d9;
}

.footer {
    font-weight: bold;
}