<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/general :: baseheader(~{:: title})}">
  <title th:text="${paginaTitel}">Huishoudtaken Overzicht</title>
</head>
<body>
<div class="container mt-4">
  <nav th:replace="~{fragments/general :: navbar}"></nav>

  <h1 class="main-title" th:text="${paginaTitel}">Over Ons</h1>

  <div class="mb-5 card mx-auto" style="max-width: 500px;">
    <img src="https://img.freepik.com/vrije-photo/succesvol-en-gelukkig-zakelijk-team
    _53876-74892.jpg?semt=ais_hybrid&w=740&q=80"
         class="card-img-top rounded" alt="Team Foto">

    <div class="card-body text-center">
      <h5 class="card-title">Huishoud Manager App</h5>
      <p class="card-text mb-1">Adres: Babbelaar 18, 9746 RM Groningen</p>
      <p class="card-text mb-1">E-mail: info@huishoudmanager.nl</p>
      <p class="card-text mb-0">Telefoon: 050 - 123 4567</p>
    </div>
  </div>
</div>
</body>

<footer th:replace="~{fragments/general :: footer}"></footer>
<div th:replace="~{fragments/general :: scripts}"></div>
</html>