<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/general :: baseheader(~{:: title})}">
  <title th:text="${paginaTitel}">Nieuwe Gebruiker</title>
</head>
<body>
<div class="container mt-4">
  <nav th:replace="~{fragments/general :: navbar}"></nav>
  <h1 class="main-title" th:text="${paginaTitel}">Nieuwe Gebruiker Aanmaken</h1>
  <form th:action="@{/users/add}" method="post"
        th:object="${newUser}">
    <div class="mb-3">
      <label for="username" class="form-label">Gebruikersnaam</label>
      <input type="text" id="username"
             class="form-control" th:field="*{username}" required/>
    </div>
    <div class="mb-3">
      <label for="plainPassword" class="form-label">Wachtwoord</label>
      <input type="password" id="plainPassword"
             class="form-control"
             th:field="*{plainPassword}" required/>
    </div>
    <div class="mb-3">
      <label for="role" class="form-label">Rol</label>
      <select id="role" class="form-select" th:field="*{role}">
        <option value="USER">USER</option>
        <option value="ADMIN">ADMIN</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Aanmaken</button>
    <a th:href="@{/users}" class="btn btn-secondary">Annuleren</a>
  </form>
  <p><a th:href="@{/subtasks}">Terug naar het overzicht</a></p>
</div>
</body>
<footer th:replace="~{fragments/general :: footer}"></footer>
<div th:replace="~{fragments/general :: scripts}"></div>
</html>