<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css">
    <title th:text="${paginaTitel}">Huishoud Taak Toevoegen</title>
</head>
<body>
    <form th:action="@{/chores/save}" th:object="${chore}" method="post">
        <div>
            <label for="choreName">Huishoud Taak</label>
            <input type="text" id="choreName" th:field="*{choreName}">
            <span th:if="${#fields.hasErrors('choreName')}" th:errors="*{choreName}" class="error"></span>
        </div>
        <div>
            <label for="choreFrequency">Frequentie per Week</label>
            <input type="text" id="choreFrequency" th:field="*{choreFrequency}"/>
            <span th:if="${#fields.hasErrors('choreFrequency')}" th:errors="*{choreFrequency}" class="error"></span>
        </div>
        <div>
            <label for="location">Locatie</label>
            <input type="text" id="location" th:field="*{location}"/>
            <span th:if="${#fields.hasErrors('location')}" th:errors="*{location}" class="error"></span>
        </div>
        <div>
            <label for="responsibility">Verantwoordelijke</label>
            <input type="text" id="responsibility" th:field="*{responsibility}"/>
            <span th:if="${#fields.hasErrors('responsibility')}" th:errors="*{responsibility}" class="error"></span>
        </div>
        <button type="submit">Toevoegen</button>
    </form>
    <p><a th:href="@{/chores}">Terug naar het overzicht</a></p>
</body>
</html>