<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/general :: baseheader(~{:: title})}">
  <title th:text="${paginaTitel}">Huishoud Taak Detail Pagina</title>
</head>
<body>
<div class="container mt-4">
<nav th:replace="~{fragments/general :: navbar}"></nav>
<h1 th:text="|Details van ${chore.choreName}|"></h1>

  <ul>
    <li>
      <a th:href="@{/chores/edit/{id}(id=${chore.id})}">Bewerk deze taak</a>
    </li>
    <li>
      <a th:href="@{/chores/delete/{id}(id=${chore.id})}">Verwijder deze taak</a>
    </li>
  </ul>

<h2>Subtaken</h2>
<table class="table table-striped table-hover">
  <thead class="table-dark">
  <tr>
    <th>Subtaak</th>
    <th>Status</th>
    <th>Aanpassen status</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="subtask : ${chore.subtasks}">
    <td th:text="${subtask.subtaskName}"></td>
    <td th:text="${subtask.finished} ? 'Openstaand' : 'Uitgevoerd'">
      Status
    </td>
    <td>
      <form th:if="${subtask.finished}"
            th:action="@{/subtasks/check/{id}(id=${subtask.subtaskId})}"
            method="post">
        <button type="submit">Uitgevoerd</button>
      </form>
      <form th:unless="${subtask.finished}"
            th:action="@{/subtasks/uncheck/{id}(id=${subtask.subtaskId})}"
            method="post">
        <button type="submit">Open zetten</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>
<p><a th:href="@{/chores}">Terug naar het overzicht</a></p>
</div>
</body>
<footer th:replace="~{fragments/general :: footer}"></footer>
<div th:replace="~{fragments/general :: scripts}"></div>
</html>