<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/general :: baseheader(~{:: title})}">
    <title th:text="${paginaTitel}">Familie Leden Overzicht</title>
</head>
<body>
<div class="container mt-4">
    <nav th:replace="~{fragments/general :: navbar}"></nav>
    <h1 class="main-title">Familie Leden</h1>
    <div class="row">
        <div class="col-md-4 mb-3" th:each="familymember : ${allFamilyMembers}">
            <div class="card h-100">

                <img th:if="${familymember.image != null}"
                     th:src="@{/images/{id}(id=${familymember.image.id})}"
                     class="card-img-top"
                     th:alt="${familymember.firstName + ' ' + familymember.lastName}"
                     style="height: 200px; object-fit: cover;">

                <div class="card-body">
                    <a th:href="@{familymembers/detail/{id}(id=${familymember.memberId})}">
                        <h5 class="card-title" th:text="${familymember.fullName}"></h5>
                    </a>
                </div>

                <div class="card-footer d-flex justify-content-between">
                    <a sec:authorize="hasRole('ADMIN')" th:href="@{/familymembers/edit/{id}(id=${familymember.memberId})}"
                       class="btn btn-sm btn-outline-primary">
                        <i class="bi bi-pencil-square"></i>
                    </a>

                    <a sec:authorize="hasRole('ADMIN')" th:href="@{/familymembers/delete/{id}(id=${familymember.memberId})}"
                       class="btn btn-sm btn-outline-danger">
                        <i class="bi bi-trash"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>
    <div sec:authorize="hasRole('ADMIN')">
        <!-- Button trigger modal -->
        <button sec:authorize="hasRole('ADMIN')" type="button" data-bs-toggle="modal"
                data-bs-target="#newFamilyMemberForm">
            Nieuw familielid toevoegen
        </button>

        <!-- Modal -->
        <div sec:authorize="hasRole('ADMIN')" class="modal fade" id="newFamilyMemberForm" tabindex="-1"
             aria-labelledby="newFamilyMemberFormLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="newFamilyMemberFormLabel">Nieuw Familielid Toevoegen</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div th:replace="~{fragments/family-member :: newFamilyMemberForm(newFamilyMember=${newFamilyMember})}"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuleren</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p><a th:href="@{/chores}">Terug naar het overzicht</a></p>
</div>
</body>
<footer th:replace="~{fragments/general :: footer}"></footer>
<div th:replace="~{fragments/general :: scripts}"></div>
</html>